doctype html
html(lang='en')                     
    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title ATCUW - Home

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.about-heading
            .container
                .about-heading-content
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.rounded.p-5
                                h2.section-heading.mb-4
                                    span.section-heading-lower News
                                p
                                    | Important news will be placed here in the future
                                p
                                    | The algorithmic trading club is a club dedicated to teaching students of UW the core of quantitative finance, 
                                    | including topics that range from programming, statistics, and finance. Follow us at our #[a(href='socials.html') social media]
            

        section.page-section.clearfix
            .container
                .intro
                    img.intro-img.img-fluid.mb-3.mb-lg-0.rounded(src='assets/img/intro.jpg', alt='...')
                    .intro-text.left-0.text-center.bg-faded.p-5.rounded
                        h2.section-heading.mb-4
                            span.section-heading-upper Learn Quant skills
                        p.mb-3
                            | Gain skills in Python and its computing packages, QuantConnect, and more.
                        .intro-button.mx-auto
                            a.btn.btn-primary.btn-xl(href='workshops.html') See our     past and upcoming workshops

        include includes/footer

        include includes/scripts
